@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: var(--inter);
}
.nunitosans {
  font-family: var(--nunitosans);
}
.newsreader {
  font-family: var(--newsreader);
}

.arimo {
  font-family: var(--arimo);
}


